.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 30px;
}

.header-label {
    font-size: 20px;
    color: rgb(94, 94, 94);
    padding: 10px 20px;
}

button {
    background-color: rgb(245, 234, 247);
    border: none;
    font-weight: 200;
    padding: 10px;
    border-radius: 5px;
}

button:hover{
    background-color: rgb(236, 212, 241);
    cursor: pointer;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}

.adding-product {
    opacity: 0.1;
    
}

.disable-link {
    pointer-events: none; 

}

@media only screen and (max-width: 1400px) {
    .product-container{
        grid-template-columns: repeat(4, 1fr);
    }
    
}

@media only screen and (max-width: 1000px) {
    .product-container{
        grid-template-columns: repeat(3, 1fr);
    }
    
}