<div class="outer-container">
  <app-add-product
    (closeAddDialogEvent)="onClose()"
    [addingProduct]="addingProduct"
  ></app-add-product>

  <div class="products" [ngClass]="{ 'adding-product': addingProduct }">
    <div
      class="header"
      *ngIf="customer$ | async as customer; else emptyCustomer"
    >
      <span class="header-label" style="display: flex">
        <h2 style="margin-right: 10px">
          {{ "Hello " + customer.firstName + ", " }}
        </h2>
        <h2>Checkout Our Products!</h2>
      </span>
      <button
        class="header-label"
        (click)="addingProduct = true"
        *ngIf="customer.role === 'ADMIN'"
      >
        Add +
      </button>
    </div>
    <ng-template #emptyCustomer>
      <span class="header header-label">
        <h2>Please Login to be able to purchase products</h2>
      </span>
    </ng-template>

    <div class="product-container">
      <div *ngFor="let product of products$ | async">
        <a
          [ngClass]="{ 'disable-link': addingProduct }"
          [routerLink]="['/details', product.id]"
          style="text-decoration: none"
        >
          <app-product-card
            [product]="product"
            [isAdmin]="(customer$ | async)?.role === 'ADMIN'"
          ></app-product-card>
        </a>
      </div>
    </div>
  </div>
</div>
