<div [ngClass]="{ 'outer-container': !justPurchased }">
  <div *ngIf="currentOrder$ | async as order">
    <div *ngIf="order.orderItems.length > 0; else emptyBasket">
      <div
        class="purchase-status-banner"
        [ngClass]="order.status.toLocaleLowerCase()"
        *ngIf="justPurchased; else showHeader"
      >
        {{ order.status | statusText }}
      </div>
      <ng-template #showHeader>
        <h2 style="margin-bottom: 50px; margin-left: 20px">Basket</h2>
      </ng-template>
      <app-orders [order]="order"></app-orders>
      <div class="center-buttons">
        <button class="add-button" routerLink="/product">Add More Items</button>
        <button (click)="saveOrder()">Save Order</button>
        <button (click)="purchaseOrder()">Purchase Now!</button>
      </div>
    </div>
  </div>

  <ng-template #emptyBasket>
    <h2 style="margin-bottom: 50px; margin-left: 20px">Basket</h2>
    <div class="empty-container">
      <h3>Basket is empty</h3>
      <div class="center-buttons">
        <button class="add-button" routerLink="/product">Add More Items</button>
      </div>
    </div>
  </ng-template>
</div>
