.navbar-container {
    /* height: 70px; */
    background-color: rgb(109, 109, 145);
    height: max-content;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;


}

.navbar-container a:hover {
    background-color: rgb(139, 139, 169);

}

.navbar-container a {
    text-decoration: none;
    color: white;
    margin: 10px;
}