/* .navbar-container span {
    height: 70px; 
    background-color: rgb(193, 163, 199);
    height: max-content;
    display: flex;
    /* justify-content: space-between; 

} */

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: max-content;
    background-color: rgb(193, 163, 199);
    padding: 25px 0;
}


a {
    padding: 25px 15px;
    background-color: rgb(193, 163, 199);
}

a:hover {
    background-color: rgb(220, 201, 224);

}

.active {
    background-color: rgb(220, 201, 224);

}


.navbar-container a {
    text-decoration: none;
    color: white;

}

/* .navbar-left a {
    height: 100%;
} */ 