<!-- <h2>Add a review</h2>
<textarea name="" id=""></textarea> -->
<h2>Reviews</h2>
<div class="reviews" *ngIf="reviews$ | async as reviews">
  <div class="hasReview" *ngIf="reviews.length > 0; else noReviews">
    <div class="review-container" *ngFor="let r of reviews">
      <div class="review-left">
        <div class="img-container">
          <img [src]="r.imageUrl" alt="" />
        </div>
        <div>
          <div class="text-container">
            <span class="name-container">{{ r.name }}</span>
            <span class="comment">{{ r.comment }}</span>
          </div>
          <div class="rating-container">
            <app-rating [rating]="r.rating" [fontSize]="15"></app-rating>
          </div>
        </div>
      </div>
      <div class="review-right">
        {{ r.updatedAt | date }}
      </div>
    </div>
  </div>
  <ng-template #noReviews>
    <p>No reviews available.</p>
  </ng-template>
</div>
