<h2>Add a review</h2>
<div class="rating">
  <ng-container *ngFor="let star of starsArray; let i = index">
    <i
      class="fa-star"
      [ngClass]="{
        'fa-solid': star,
        'fa-regular': !star
      }"
      [ngStyle]="{ 'font-size': fontSize + 'px' }"
      (click)="changeRating(i)"
    ></i>
  </ng-container>
  <span class="rating-text">{{ "( " + rating + " Stars )" }} </span>
</div>
<textarea [(ngModel)]="comment"></textarea>
<button class="button-basket" [disabled]="buttonDisabled" (click)="addReview()">
  Add Review
</button>

<h2 style="margin-top: 60px">Reviews</h2>
<div class="reviews" *ngIf="review">
  <div
    class="hasReview"
    *ngIf="review && review.reviews.length > 0; else noReviews"
  >
    <div class="review-container" *ngFor="let r of review.reviews">
      <div class="review-left">
        <div class="img-container">
          <img [src]="r.imageUrl" alt="" />
        </div>
        <div>
          <div class="text-container">
            <span class="name-container">{{ r.name }}</span>
            <span class="comment">{{ r.comment || "-" }}</span>
          </div>
          <div class="rating-container">
            <app-rating [rating]="r.rating" [fontSize]="15"></app-rating>
          </div>
        </div>
      </div>
      <div class="review-right">
        {{ r.updatedAt | date }}
      </div>
    </div>
  </div>
  <ng-template #noReviews>
    <p>No reviews available.</p>
  </ng-template>
</div>
