<div class="product-container" *ngIf="product$ | async as product">
  <div class="product-info">
    <div class="product-img">
      <img [src]="product.imageUrl" alt="" />
    </div>
    <div class="product-description">
      <h1>{{ product.name }}</h1>
      <div style="margin-bottom: 30px; font-size: 15px">
        {{ product.description }}
      </div>
      <span class="rating-info">
        <app-rating [rating]="product.rating"></app-rating>
        <span style="margin-left: 10px">{{
          "(" + product.numRatings + ") reviews"
        }}</span>
      </span>
      <h2>{{ product.price | currency : "USD" }}</h2>
      <span class="quantity">
        <button
          (click)="updateQuantity('decrement')"
          [disabled]="this.quantity == minQuantity"
        >
          -
        </button>
        <input
          type="number"
          style="width: 30px; height: 30px; text-align: center"
          [(ngModel)]="quantity"
          [max]="maxQuantity"
          [min]="minQuantity"
        />
        <button
          [disabled]="this.quantity == maxQuantity"
          (click)="updateQuantity('increment')"
        >
          +
        </button>
      </span>
      <button
        style="margin-left: 20px"
        class="button-basket"
        routerLink="/orders"
      >
        Add to Basket {{ "(" + this.quantity + ")" }}
      </button>
    </div>
  </div>

  <!-- Review section -->

  <div class="review-container">
    <app-review [productId]="product.id"></app-review>
  </div>
</div>
