<div class="container">
  <div class="content">
    <div class="img-container">
      <img [src]="product.imageUrl" alt="" />
    </div>
    <div class="text">
      <h4 style="color: rgb(200, 143, 177)">{{ product.name }}</h4>
      <span class="price" style="font-size: 20px">{{
        product.price | currency : "USD"
      }}</span>
      <span
        (mouseenter)="showFullText = true"
        (mouseleave)="showFullText = false"
        >{{ product.description | truncate : 30 : showFullText }}</span
      >
      <app-rating
        style="margin-top: 15px"
        [rating]="product.rating"
      ></app-rating>
    </div>
  </div>
  <div class="footer" style="color: rgb(255, 249, 254)">Buy</div>
</div>
