.add-container {
    display: none;
    background-color: rgb(250, 247, 250);
    width: 500px;
    height: 600px;
    z-index: 1;
    position: fixed;
    transform: translate(-50%, -50%); /* Centering trick */
    position: absolute; /* Allow for centering */
    top: 50%;
    left: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
}

.display {
    display: block;
}

.button-container {
    display: flex;
    justify-content: end;
}

.close-button {
   background-color: rgb(160, 17, 17);
   padding: 10px 20px;
   font-size: 20px;
   border: white;
   color: white;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Horizontal, vertical, blur radius, spread radius, color */

   transition: box-shadow 0.3s ease;
}
.close-button:hover {
    cursor: pointer;
    background-color: rgb(175, 56, 56);;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin: 20px 40px;
}

.input-group label {
    margin-bottom: 5px;
}

.input-group input,textarea {
    border: none;
}

.input-group input {
    height: 30px;
    font-family: inherit;
}

.input-group input:focus {
    outline: none;
    /* background-color: rgb(251, 240, 242); */
}

.add-button {
    margin-top: 50px;
}

.add-button button {
    height: 50px;
    border: none;
    background-color: rgb(230, 212, 230);
    font-weight: bold;
    color: grey;
}

.add-button button:hover{
    background-color: rgb(224, 188, 224);
    cursor: pointer;
}