<div class="purchase-status-banner success" *ngIf="justPurchased">
  <!-- Purchase Failed! Please contact us. -->
  Purchase Successful!
</div>
<div *ngIf="orderItems$ | async as orderItems">
  <div *ngIf="order$ | async as order">
    <div class="outer-container" *ngIf="orderItems.length > 0">
      <h2 style="margin-bottom: 50px; margin-left: 20px">Orders</h2>
      <div class="orders-container">
        <div class="order-header">
          <div>Image</div>
          <div>Name</div>
          <div>Price</div>
          <div>Quantity</div>
          <div>Total</div>
        </div>
        <div *ngFor="let order of orderItems; let i = index">
          <app-order-card
            class="order-card"
            [order]="order"
            (quantity)="quantityUpdate($event, i)"
          ></app-order-card>
        </div>
        <div class="order-card">
          <div>Total</div>
          <div></div>
          <div></div>
          <div style="padding-left: 35px">{{ order.totalQuantity }}</div>
          <div>{{ order.totalPrice | currency : "USD" }}</div>
        </div>
      </div>
      <div class="purchase-button">
        <button>Purchase Now!</button>
      </div>
    </div>
  </div>
</div>
