.orders-container {
    width: 80%;
    margin: auto;
}

.order-header, .order-card {
    padding: 10px;
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
    
}

.order-header {
    font-weight: bold;
    padding-bottom: 0;
}

.order-card {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
    align-items: center;
}

.outer-container {
    margin: 40px 20px 20px;
}

.pad {
    padding-left: 35px
}

.pad-readOnly {
    padding-left: 12px;
}