<div class="outer-container">
  <h2 style="margin-bottom: 50px; margin-left: 20px">Order History</h2>
  <div *ngIf="orders$ | async as orders">
    <div *ngIf="orders.length > 0; else noHistory">
      <div *ngFor="let order of orders">
        <app-orders [order]="order"></app-orders>
        <div class="center-buttons">
          <button (click)="cancelOrder()">Cancel Order</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #noHistory>
    <div class="empty-container">
      <h3>No previous purchase</h3>
    </div>
  </ng-template>
  <div class="center-buttons">
    <button class="add-button" routerLink="/product">See Products</button>
    <button class="add-button" routerLink="/basket">Go To Basket</button>
  </div>
</div>
