<div class="img-container">
  <img [src]="orderItem.imageUrl" alt="" />
</div>
<div>{{ orderItem.name }}</div>
<div>{{ orderItem.price | currency : "USD" }}</div>
<span class="quantity">
  <button
    *ngIf="!readOnly"
    (click)="updateQuantity('decrement')"
    [disabled]="orderItem.quantity == minQuantity"
  >
    -
  </button>
  <input
    [disabled]="readOnly"
    type="number"
    style="width: 30px; height: 30px; text-align: center"
    [(ngModel)]="orderItem.quantity"
    [max]="maxQuantity"
    [min]="minQuantity"
  />
  <button
    *ngIf="!readOnly"
    [disabled]="orderItem.quantity == maxQuantity"
    (click)="updateQuantity('increment')"
  >
    +
  </button>
</span>
<div class="total-column">
  <span>
    {{ orderItem.price * orderItem.quantity | currency : "USD" }}
  </span>
  <span>
    <button (click)="onDelete()" *ngIf="!readOnly">
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </span>
</div>
